# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model weights / Large binary files
*.joblib
src/outputs/**/*.joblib

# Virtual environments
.venv/
venv/
env/

# Editor / IDE configuration
.vscode/
.idea/
*.suo
*.user

# OS-specific files
.DS_Store
Thumbs.db
